.container {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #cfcece;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.logInForm {
  box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
  background-color: #23232e;
  border-radius: 0.9rem;
  overflow: hidden;
  padding: 0 8rem;
  height: 45vh;
  width: 20vw;

  display: flex;
  gap: 2rem;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.logoWrapper {
    /* border: solid 1px red; */
    display: grid;
    width: 20rem;
}

.input {
  background-color: #141418;
  border: none;
  padding: 0.5rem;
  color: #cfcece;
}

.btn {
  background-color: #23232e;
  border: solid 1px #cfcece;
  color: #cfcece;
  padding: 0.5rem 0;
  width: 4rem;
  border-radius: 0.2rem;
}

.noshow {
  display: none;
}

.err {
    color: red;
}
